---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>     
      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  

    </p>
    </div>
  </header>

  <section class="post">
    {{ content }}
    <br><br
    <font color=#66CCFF><em><strong>转载到请包括本文地址：</strong></em></font><a href="http://freezingsummer.com{{ page.id }}" target="_blank">http://freezingsummer.com{{ page.id }}</a>
    
  </section>
</article>

{% include new-old.html %}
{% include comments.html %}
